body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
}

label,
h1,
h2,
h3,
h4,
h5,
h6,
button,
li {
  font-family: 'Lato'
}

.flexed {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
